<div class="container__small-card">
    <div class="small-card__picture">
        <img 
            src="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzi3GMFtjNEUh4LoEnY-yTFkx5sIU2rD_Q0QxnTOFjbCfvqEd-NSW3Y1uzkh-xGh5sCN4VR-B6ChHyCc1LMzBD1KnCRe5yo1lU8.jpg?r=2da"
            alt="" 
            height="200px"  
        >
    </div>
    <div class="small-card__title">
        <h1>
            <a href="#">
                Novo Especial de Power Rangers
            </a>
        </h1>
    </div>
</div>
