<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            pictureCover="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABWvN30woCaQ0j4dkz6WH1PXGk55_P6o5NS9mZMbVfD6GXaSIy002e4r8CTjxfpF9ikPsTbaaSG9tpOQWh64yoCEMTGKtMNCRTDKx.jpg?r=363"
            cardTitle="Novo Especial de Power Rangers"
            cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga corrupti quasi laudantium sunt suscipit dolores veniam impedit, magnam, ipsam, beatae molestiae totam autem minus nihil repudiandae? Nesciunt vero dicta minima."
        >
    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            pictureCover="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzi3GMFtjNEUh4LoEnY-yTFkx5sIU2rD_Q0QxnTOFjbCfvqEd-NSW3Y1uzkh-xGh5sCN4VR-B6ChHyCc1LMzBD1KnCRe5yo1lU8.jpg?r=2da"
            cardTitle="Novo Especial de Power Rangers"
        >
        </app-small-card>
        <app-small-card
            pictureCover="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzi3GMFtjNEUh4LoEnY-yTFkx5sIU2rD_Q0QxnTOFjbCfvqEd-NSW3Y1uzkh-xGh5sCN4VR-B6ChHyCc1LMzBD1KnCRe5yo1lU8.jpg?r=2da"
            cardTitle="Novo Especial de Power Rangers"
        >
        </app-small-card>
        <app-small-card
            pictureCover="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZzi3GMFtjNEUh4LoEnY-yTFkx5sIU2rD_Q0QxnTOFjbCfvqEd-NSW3Y1uzkh-xGh5sCN4VR-B6ChHyCc1LMzBD1KnCRe5yo1lU8.jpg?r=2da"
            cardTitle="Novo Especial de Power Rangers"
        >
        </app-small-card>
    </div>
</div>
