<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            pictureCover="https://occ-0-300-1348.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABWvN30woCaQ0j4dkz6WH1PXGk55_P6o5NS9mZMbVfD6GXaSIy002e4r8CTjxfpF9ikPsTbaaSG9tpOQWh64yoCEMTGKtMNCRTDKx.jpg?r=363"
            cardTitle="Novo Especial de Power Rangers"
            cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga corrupti quasi laudantium sunt suscipit dolores veniam impedit, magnam, ipsam, beatae molestiae totam autem minus nihil repudiandae? Nesciunt vero dicta minima."
        >
    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            pictureCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhTkH3cL0uepLgQwaht2vO3wpWFTj3Kux04igr3cg3lRu8XvXCiZz4cPlKWfwq_mXGSSU&usqp=CAU"
            cardTitle="Power Rangers RPM"
        >
        </app-small-card>
        <app-small-card
            Id="3"
            pictureCover="https://http2.mlstatic.com/D_NQ_NP_846173-MLB41927050885_052020-O.jpg"
            cardTitle="Power Rangers Fúria da Selva"
        >
        </app-small-card>
        <app-small-card
            Id="4"
            pictureCover="https://1.bp.blogspot.com/-l7AF_KqTyE0/X7c3Fc0HqFI/AAAAAAABQQ0/Kp5NKz41bGEQRBnzkmHyCw5ylsrigPiDQCLcBGAsYHQ/s1280/00%2B-%2BPower%2BRangers%2BLightspeed%2BRescue%2B%25E2%2580%2593%2BPower%2BRangers%2BO%2BResgate.jpg"
            cardTitle="Power Rangers Resgate"
        >
        </app-small-card>
    </div>
</div>
